.container {
  padding: 24px;
}

.card {
  max-width: 800px;
  margin: 0 auto;
}

.formButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.resetButton {
  margin-right: 12px;
} 